{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form>
{% endmacro %}

{% macro submit_button(text, class) %}
	{% set test = "btn btn-primary " ~ class %}
	<button type="submit" class="btn btn-primary ~ {{class}}">{{text|default('Tallenna')}}</button>
{% endmacro %}

{% macro error_display(errors) %}
	{% for error in errors %}
	    <div class="alert alert-danger">
		  <ul>
			<li>{{error}}</li>
		  </ul>
	    </div>
	{% endfor %}
{% endmacro %}

{% macro message_display(message) %}
	<div class="aler alert-success">
		<ul>
			<li>{{message}}</li>
		</ul>
	</div>
{% endmacro %}
