{% extends "base.html" %}

{% block content %}
	<h1>Kurssit</h1>
	
	{% if message %}
	<div class="alert alert-danger">
		<ul>
			<li>{{message}}</li>
		</ul>
	</div>
	{% endif %}

	<a class="btn btn-default" href="{{base_path}}/studysession/new">Uusi opiskelusessio</a>
	<a class="btn btn-default" href="{{base_path}}/test/new">Uusi koe</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Kurssit</th>
				<th>Opintopisteet</th>
				<th>Alkaa</th>
				<th>Päättyy</th>
				<th>Käytetty aika</th>
				<th><a class="btn btn-default btn-sm pull-right" href="{{base_path}}/joincourse">Lisää kurssi</a></th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			<tr>
				<td><a href="{{base_path}}/courses/{{course.courseid}}">{{course.name}}</a></td>
				<td>{{course.credits}}</td>
				<td>{{course.startdate}}</td>
				<td>{{course.enddate}}</td>
				<td>5h</td>
				<td><a class="btn btn-default btn-sm pull-right" href="{{base_path}}/courses/{{course.courseid}}/edit">Muokkaa</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
