{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/navigation.html" as nav %}

{% block content %}
	<h1>Kurssit</h1>
	
	{{nav.nav_button("#{base_path}/courses/newsession", "Uusi opiskelusessio")}}
	{{nav.nav_button("#{base_path}/courses/newtest", "Uusi koe")}}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Kurssit</th>
				<th>Opintopisteet</th>
				<th>Käytetty aika</th>
				<th>Opiskelusessiot</th>
				<th><a class="btn btn-default btn-sm pull-right" href="{{base_path}}/joincourse">Lisää kurssi</a></th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			<tr>
				<td><a href="{{base_path}}/courses/{{course.course}}">{{course.name}}</a></td>
				<td>{{course.credits}}</td>
				<td>{{course.timespent}}</td>
				<td>{{course.sessioncount}}</td>
				<td><a class="btn btn-default btn-sm pull-right" href="{{base_path}}/courses/{{course.course}}/edit">Muokkaa</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
