{% extends "base.html" %}

{% block content %}
	<h1>{{course.name}}</h1>
	
	{% if message %}
	<div class="alert alert-danger">
		<ul>
			<li>{{message}}</li>
		</ul>
	</div>
	{% endif %}

	<p>
		<a class="btn btn-default" href="#">Uusi opiskelusessio</a>
		<a class="btn btn-default" href="#">Uusi koe</a>
		<a class="btn btn-default" href="{{base_path}}/courses/{{course.courseid}}/edit">Muokkaa kurssia</a>
		<form method="post" action="{{base_path}}/courses/{{course.courseid}}/destroy">
			<button type="submit" class="btn btn-danger">Poista kurssi</button>
		</form>
	</p>

	<ul>
		<li><strong>Op:</strong> 5</li>
		<li><strong>Alkamispäivämäärä:</strong> {{course.startdate}}</li>
		<li><strong>Päättymispäivämäärä:</strong> {{course.enddate}}</li>
		<li><strong>Käytetty aika:</strong> 5h</li>
		<li><strong>Arvosana:</strong> {{course.grade}}</li>
		<li><strong><a href="#">Opiskelusessiot</a></strong></li>
	</ul>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Kokeet</th>
				<th>Pisteet</th>
				<th>Päivämäärä</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for test in tests %}
			<tr>
				<td>{{test.id}}</td>
				<td>{{test.points}}</td>
				<td>{{test.takendate}}</td>
				<td><a class="btn btn-default btn-sm pull-right" href="#">Muokkaa</a></td>
				<td><a class="btn btn-danger btn-sm pull-right" href="#">Poista koe</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Muistiinpanot</th>
				<th></th>
				<th><a class="btn btn-default btn-sm pull-right" href="#">Uusi muistiinpano</a></th>
			</tr>
		</thead>
		<tbody>
			{% for note in notes %}
			<tr>
				<td>{{note.content}}</td>
				<td><a class="btn btn-default btn-sm pull-right" href="#">Muokkaa</a></td>
				<td><a class="btn btn-danger btn-sm pull-right" href="#">Poista muistiinpano</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
