{% extends "base.html" %}

{% block content %}
	<h1>Johdatus tietojenkäsittelytieteeseen</h1>

	<p>
		<a class="btn btn-default" href="#">Uusi opiskelusessio</a>
		<a class="btn btn-default" href="#">Uusi koe</a>
		<a class="btn btn-default" href="#">Muokkaa kurssia</a>
		<button class="btn btn-danger">Poista kurssi</button>
	</p>

	<ul>
		<li><strong>Op:</strong> 5</li>
		<li><strong>Alkamispäivämäärä:</strong> 13.8.2016</li>
		<li><strong>Päättymispäivämäärä:</strong> 4.10.2016</li>
		<li><strong>Käytetty aika:</strong> 5h</li>
		<li><strong>Arvosana:</strong></li>
		<li><strong><a href="#">Opiskelusessiot</a></strong></li>
	</ul>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Kokeet</th>
				<th>Pisteet</th>
				<th>Arvosana</th>
				<th>Päivämäärä</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Koe 1</td>
				<td>0</td>
				<td>0</td>
				<td>13.6.2016</td>
				<td><a class="btn btn-default btn-sm pull-right" href="#">Muokkaa</a></td>
				<td><a class="btn btn-danger btn-sm pull-right" href="#">Poista koe</a></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Muistiinpanot</th>
				<th><a class="btn btn-default btn-sm pull-right" href="#">Uusi muistiinpano</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tavoite: arvosana 5</td>
				<td><a class="btn btn-danger btn-sm pull-right" href="#">Poista muistiinpano</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}
